/* Fuck CSS */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #FFFEE8;
}

p {
  margin: 0;
}

.wrapper {
  display: block;
  width: 75%;
  margin: auto;
  background-color: #AAD7C1;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 0 auto;
  position: relative;
}

.logo {
  margin-left: 20px;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #24523C;
}

.logo h1 {
  margin: 0;
}

nav {
  order: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}

nav ul {
  margin-bottom: 10px;
}

nav li {
  display: inline;
  margin: 3px;
  padding: 5px 10px;
  border: 1px solid #3A264F;
  box-shadow: 2px 2px 3px #888888;
}

nav li:hover {
  border: 1px solid #888888;
}

nav li a {
  text-decoration: none;
  color: #c03546;
}

nav li:hover a {
  text-decoration: underline;
  color: #f26d5b;
}

article { 
  width: 100%;
  margin-top: 70px;
  padding: 20px;
}

article a {
  text-decoration: none;
  color: #3A264F;
}

article a:hover {
  text-decoration: underline;
  color: #754434;
}

h3 {
  margin: 10px;
}

th {
  background-color: #3C3530;
  color: white;
  font-size: 10px;
  padding: 5px;
}

td {
  border: 1px solid #3C3530;
  padding: 4px;
}

tr.green {
  background-color: #a5d296;
  color: #3C3530;
}

tr.orange {
  background-color: #FFA500;
  color: #3C3530;
}

tr.red {
  background-color: #ff7473;
  color: #3C3530;
}

td.txt {
  text-align: left;
}

td.num {
  text-align: right;
}

td a {
  color: #54546c;
}

fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  }

label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }

legend {
  display: none;
}

div.alert {
  margin: 10px auto;
  padding: 10px 30px;
  display: inline-block;
  background-color: tomato;
  color: white;
  text-align: center;
  border: 4px solid red;
  box-shadow: 4px 4px 5px #888888;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-left: 165px;
}

