<% @page_title = "Edit #{@album.name}" %>

<form action="/artists/<%= @album.artist.id %>/albums/<%= @album.id %>/edit" method="post">
  <fieldset>
    <legend><%= @page_title %></legend>

    <label for="name">Title:</label>
    <input type="text" name="name" value="<%= @album.name %>"><br>

    <input type="submit" value="Edit Album">

  </fieldset>
  
</form>