<% @page_title = @artist.name %>

<p>Genre: <em><%= @artist.genre %></em> </p>

<a href="/artists/<%= @artist.id %>/edit">Edit</a>

<h5>Albums</h5>

<% if @artist.albums.count == 0 %>

<p><em>None</em></p>

<% else %> <!-- artist has albums -->

<ul>
  <% @artist.albums.each do |album| %>
  <li><%= album.name %> </li>
  <% end %>
</ul>

<% end %>
